/* - - - - - - - - - - - - - - - -

      #BODY RULE-SETS

- - - - - - - - - - - - - - - - - */

body {
  background-color: $color__bg--primary;
  font-family: $default-font-family;
  height: 100%;
  width: 100%;
  background-color: #F9F9F8;
}
