/* - - - - - - - - - - - - - - - -

      #COLOR-PALETTE

- - - - - - - - - - - - - - - - - */

$color__bg--primary: #e2dfdf;
$color__bg--secondary: #fff;
$color__bg--dark: #333;

$color__text--primary: #333333;
$color__text--secondary: #f49000;
$color__text--secondary-darker: #d77a00;
$color__text--secondary-lighter: #fff;


$color__border--primary: #cacaca;
$color__border--secondary: #fff;